<div class='row'>
  <div class='col-md-4 col-sm-6'>
    <p>
      Input
    </p>
    {{textarea rows=10 cols=50 value=inputstring}}
  </div>

  <div class='col-md-4 col-sm-6'>
    <p>
      Decoded
    </p>
    <p>
      {{textarea rows=10 cols=50 value=decoded}}
    </p>

  </div>

  <div class='col-md-4 col-sm-6'>
    <p>
      Encoded
    </p>
    <p>
      {{textarea rows=10 cols=50 value=encoded}}
    </p>
  </div>

</div>
