<div class="row">
  <div class="col-md-12 col-sm-12">
    <p>
      Input
    </p>
    {{input type='text' value=inputstring }}
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <p>
        MD5:
      </p>
      {{md-5 value=inputstring}}
    </div>
  </div>
</div>
